# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
pylint
black
pytest
pytest-cov
python-dotenv>=0.5.1
jupyterlab
{% if cookiecutter.python_interpreter != 'python3' %}

# backwards compatibility
pathlib2
{% endif %}